{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia: {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea class="form-control" name="content" rows="10">{{ content }}</textarea>
        <button class="btn btn-primary">Save</button>
    </form>
    <form action="{% url 'delete' title=title %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}